input[type=text] {
    padding:10px;
    width: 30%;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-left: 30%;

}

input[type=password] {
    padding: 10px;
    width: 30%;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-left: 30%;
    margin-top: 1%;

}

.form-submit{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    margin-top: 1%;
    margin-left: 30%;
}

h1{
    margin-left: 30%;
}
.form-signin-signup{
}

.error-class {
    margin-left:  30%;
}