p {
    margin-left: 49%;
    margin-top: -3%;
    font-size: 24px;
}

.form-submit-2{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    margin-top: 1%;
    margin-left: 30%;
}