li {
    font-size: 28px;
    float: left;
    color: white;
}

.item-1{
    position: absolute;
    right: 4%;
    top: 2%;
}
.item-2{
    position: absolute;
    right: 10%;
    top: 2%;
}
.header-form{
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: white;
}