.form-submit-2{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    margin-top: 1%;
    margin-left: 30%;
}

.for-input-style {
    float: left;
    width: 90%;
    margin-top: 2px;
}

.for-button-style {
    margin-top: 6px;
    margin-left: 90%;
}