body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#right-panel-link {
  font-size: 20px;
  color: black;
}

#search-form {
  position: absolute;
  top: 15px;
  right: 150px;
}

#dashboard{
  font-size: 20px;
  position: absolute;
  left: 15px;

}

.basic-nav-dropdown {
  font-size: 20px;
  right: -200px;
}
